# LLM settings
# -----------

# LLM API provider
PROVIDER=together
LLM_NAME=gptoss120b
IS_LOCAL=false
LLM_ENDPOINT=together_ai/openai/gpt-oss-120b
#specify exact key here if not set in environment
LLM_API_KEY_NAME=key

# Local provider
PROVIDER=ollama
LLM_NAME=ollama/qwen3-vl:30b-a3b-instruct
IS_LOCAL=true
LLM_ENDPOINT=http://localhost:11434


# File settings
# ------------

TOP_LEVEL_OUTPUT_PATH=
# Optional flexibility if desired but not recommended
# OUTPUT_PATH=
# MARKDOWN_PATH=
# INPUT_PATH=
# HISTORY_PATH=
# HTML_PATH=


