# LLM settings
# -----------

# API provider
PROVIDER=together
LLM_NAME=gptoss120b
IS_LOCAL=false
LLM_ENDPOINT=together_ai/openai/gpt-oss-120b
#LLM_API_KEY= set in your environment

# Local provider
PROVIDER=ollama
LLM_NAME=ollama/qwen3-vl:30b-a3b-instruct
IS_LOCAL=true
LLM_ENDPOINT=http://localhost:11434


# File settings
# ------------
OUTPUT_PATH=tmp
MARKDOWN_PATH=markdown_files
INPUT_PATH=input_files
HISTORY_PATH=history
HTML_PATH=tmp/html_files


